.nav-link {
  color:#494E4F;
}

.cta-nav {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2a6877;
  border-radius: 50px;
  padding: 12px 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border:0px;
  letter-spacing: 0.5px;

  /* Neutral/0 */

  color: #ffffff;
}

.hero {
  margin-top: 8rem;
  margin-bottom: 8rem;
  height: 26.309rem;

  h1 {
    font-size: 4.25rem;
    line-height: 4.75rem;
  }

  p {
    font-family: "DM Sans";
    font-size: 1.125rem;
    line-height: 1.465rem;
  }

  button {
    height: 48px;
    width: 133px;
    border-radius: 50px;
    padding: 12px 20px 12px 20px;
    border: 2px solid black;
  }
}

.services {
  height: 38.3125rem;
  background: linear-gradient(
    100.33deg,
    rgba(201, 228, 222, 0.6) -36.88%,
    rgba(206, 228, 224, 0.463495) 21.99%,
    rgba(208, 228, 224, 0.414385) 30.82%,
    rgba(223, 227, 231, 0) 102.68%
  );

  h2 {
    padding-top: 2.25rem;
    padding-bottom: 2.9375rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0.0313rem;
    text-align: center;
  }

  .service-card {
    flex-direction: column;

    background: rgba(240, 241, 243, 0.2);
    box-shadow: 0rem 0rem 0rem 0.125rem rgba(0, 0, 0, 0.05);
    border-radius: 2.4375rem;
    height: 100%;
    padding: 1.75rem 1.125rem;

    button {
      padding: 0.75rem 1.25rem;
      border: 2px solid rgba(42, 104, 119, 0.49);
      border-radius: 3.125rem;
    }
  }

  .view-more-service-btn {
    margin-top: 2.875rem;
    margin-bottom: 1.8713rem;
    background: #2a6877;
    padding: 0.75rem 1.25rem;
    border-radius: 3.125rem;
    color: #fff;
    border: 0px;
    width: 201px;
    height: 49px;
  }
}

.wework {
  margin-bottom: 8rem;

  .workheadings {
    margin-top: 4.625rem;
    margin-bottom: 4.625rem;
  }

  .work-nums {
    font-size: 5.95rem;
    opacity: 30%;
    z-index: -999;
    margin-left: -80px;
    margin-bottom: -4rem;
  }
}

.aboutus {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;

  background: linear-gradient(
    100.33deg,
    rgba(201, 228, 222, 0.6) -36.88%,
    rgba(206, 228, 224, 0.463495) 21.99%,
    rgba(208, 228, 224, 0.414385) 30.82%,
    rgba(223, 227, 231, 0) 102.68%
  );
}

footer {
  height: 30.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

@media (max-width: 1200px) {
  .hero {
    height: 100%;
    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 0px;
    text-align: center;
    button {
      margin-bottom: 1.25rem;
    }

  }

  .services {
    height: 100%;
  }

  .wework {
    text-align: center;
  }

  footer {
    text-align: center;
  }
}
